.addProductOrModuleInfo {
    margin: 3px 10px 0;
    padding: 10px 20px 20px;
    background-color: #FFFFFF;
    overflow: hidden;
}

.addInfoTitle {
    padding: 5px;
    color: #024772;
    font-size: 17px;
}

.addInfoTitleIcon {
    width: 10px;
    height: 25px;
    margin-right: 8px;
    background: url("../img/ic_content_title.png") left top no-repeat;
    background-size: 100% 100%;
    float: left;
}

.addInfoForm {
    border: 1px solid #D6E1EA;
    margin-top: 10px;
    padding: 20px;
}

.infoRow {
    clear: both;
    overflow: hidden;
    margin-left: 10px;
}

.infoLabel {
    float: left;
    width: 100px;
    text-align: left;
    padding-top: 8px;
}

.infoInput {
    float: left;
    width: 325px;
    margin-left: 10px;
}

.infoInputArea {
    float: left;
    width: 375px;
    margin-left: 10px;
    resize: none;
}

.infoError {
    float: left;
    margin-left: 5px;
}

.submitBtn {
    margin-left: 120px;
    margin-top: 10px;
    margin-bottom: 5px;
}